# Ignore environment files
.env
apis.env

# Ignore build directories
/build/
/out/

# Ignore CMake cache files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore macOS system files
.DS_Storemodels/


#Models too big
/Models/